body {
  margin: 0;
  background-color: #1A1B1E;
  color : #C1C2C5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav */


header {
    background-color: #333; /* #25262B */
    color: black;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ED8510;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    width: 350px;
}

button {
    padding: 5px 10px;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

.header-first {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
}

.nav-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-first a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
}
.nav-left, .nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}
/* end nav */

/* second nav */

.header-second {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.nav-second {
  display: flex;
  gap: 20px;
}

.nav-second a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
}

.nav-second a:hover {
  background-color: grey;
  color: #000;
}

/* nav translation */
select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

select option {
  background-color: #fff;
  color: #333;
}

select option:hover {
  background-color: #f0f0f0;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

select:active,
select:focus {
  border-color: #007bff;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: #666;
}
/* end nav translation */

/* contain all graphic */
.container-graph {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:20px;
  padding:10px;
  padding-bottom: 25px;
}

.container-graph > div {
  flex-basis: calc(100% - 10px);
  margin: 5px;
}

/* one graph component */

.section {
  border-radius: 0.5rem;
  background-color: #25262B;
  color : #C1C2C5;
  margin: 20px;
}

.component-graph {
  color : #C1C2C5;
  margin: 20px;
  width: 49% ;
  max-width: 49%;
  padding-bottom: 25px;
}

.component-graph h2 {
  color: white;
  font-size: 19px;
  text-align: center;
  margin: 15px;
}

.graph {
overflow: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.graph-and-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* no scrool */
/*
.legend {
  max-height: 200px;
  overflow-y: auto;
  column-count: 2;
  column-gap: 20px;
  text-align: left;
}
*/

.legend {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  column-count: 2;
  column-gap: 20px;
  text-align: left;
  width: 65%;
}

/* overflow scroll design  */
.legend::-webkit-scrollbar {
  width: 12px;
}

.legend::-webkit-scrollbar-track {
  background: #1A1B1E;
}

.legend::-webkit-scrollbar-thumb {
  background-color: #ED8510;
  border-radius: 6px;
}

.legend::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* end one graph component */

/* header Info Container */
.header-info-container {
  color : white !important;
  padding: 25px;
}

.header-info-container .flex {
  display:flex;
  justify-content: space-between;
}

.header-info-container .content-flex {
  text-align: left;
  flex: 1;
  margin: 0 10px;
}

.header-info-container .title {
  font-weight: bold;
  padding-bottom: 5px;
}

.header-info-container h2 {
  font-size: 20px;
  color: #ED8510;
  text-align: left;
}

.header-info-container p {
  margin: 5px 0;
}

.header-info-container .special-info {
  font-weight: bold;
}

/* Property Info List / array  */
.property-info-container {
  font-family: Arial, sans-serif;
  color : #1A1B1E !important;
  padding: 25px;
}

.title-property-info {
  color: #ED8510;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
}

thead {
  /* background-color: #ED8510; */ /* realT color */
  color: white;
  font-size: 0.875rem

}

thead th {
  text-align: left;
  padding: 10px;
  font-weight: bold;
  border-bottom: 0.0625rem solid rgb(55, 58, 64);
}

tbody tr {
  /* background-color: #1A1B1E; */
  background-color: #25262B;
  color: white;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-top: 0.0625rem solid rgb(55, 58, 64);
}

tbody td a {
  color : #ED8510;
  text-decoration: none;
  font-weight: bold;
}

td i {
  margin-right: 14px;
  color : #ED8510;
  font-size: 16px;
}
