body {
  margin: 0;
  background-color: #1A1B1E;
  color : #C1C2C5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* contain all graphic */
.container-graph {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:20px;
  padding:10px;
  padding-bottom: 25px;
}

.section {
  border-radius: 0.5rem;
  background-color: #25262B;
  color : #C1C2C5;
  margin: 20px;
}

.graph {
  max-width: 90%; /* old max-width on component is 600px */
  width: 90%;
}

.container-graph > div {
  flex-basis: calc(100% - 10px);
  margin: 5px;
}

.component-graph {
  color : #C1C2C5;
  margin: 20px;
  width: 49% ;
  max-width: 49%;
  padding-bottom: 25px;
}

/* header Info Container */
.header-info-container {
  color : white !important;
  padding: 25px;
}

/* Property Info List / array  */
.property-info-container {
  font-family: Arial, sans-serif;
  color : #1A1B1E !important;
  padding: 25px;
}

.title-property-info {
  color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  /* background-color: #ED8510; */ /* realT color */
  color: white;
  font-size: 0.875rem

}

thead th {
  text-align: left;
  padding: 10px;
  font-weight: bold;
  border-bottom: 0.0625rem solid rgb(55, 58, 64);
}

tbody tr {
  /* background-color: #1A1B1E; */
  background-color: #25262B;
  color: white;
  text-align: left;
}

tbody td {
  padding: 10px;
  border-top: 0.0625rem solid rgb(55, 58, 64);
}
